@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900&subset=latin,latin-ext);
body {
	font-family: 'Lato', sans-serif;
	background-color: #001626;
	margin: 0;
	font-size: 20px;
	color: #E0F2FF;
}
#nav-main {
	width: 150px;
	height: auto;
	position: fixed;
	top: 20px;
	left: calc(50% - 500px);
	z-index: 1;
	background-color: #002944;
}
#nav-main strong {
	display: block;
	font-size: 25px;
	font-weight: 900;
	padding: 10px;
}
#nav-main a {
	color: white;
	text-decoration: none;
	font-size: 15px;
	border-top: 3px solid #001626;
	padding: 10px;
	display: block;
}
#wrap {
	width: 830px;
	margin: 0 auto;
	transform: translateX(75px);
	height: 2000px;
	padding: 10px;
}
section {
	padding: 20px 10px;
	border-bottom: 3px solid #002944;
}
section:first-child {
	padding: 0 10px 30px;
}
#overview big, #overview small {
	font-weight: 900;
	display: block;
	text-align: center;
}
#overview big {
	font-size: 140px;
	line-height: 140px;
}
#overview small {
	font-size: 36px;
	margin-bottom: 30px;
}
h2 {
	font-size: 30px;
	font-weight: 900;
	margin: 10px 0 20px;
}
h3{
	font-size: 25px;
	font-weight: 900;
	margin: 10px 0 20px;
}
.x-tabs {
	position: relative;
	display: block;
	margin: 20px 0;
}
.x-tabs .x-tab-content {
	display: none;
	border: 3px solid #333;
	background-color: #555;
	color: #DDD;
	padding: 15px;
	font-family: monospace;
	font-size: 14px;
	white-space: pre;
	overflow: auto;
}
.x-tab-title {
	display: inline-block;
	border: 3px solid #333;
	background-color: #333;
	padding: 5px 10px;
	cursor: pointer;
	font-weight: 900;
	color: #DDD;
}
.x-tab-title.active {
	background-color: #555;
	position: relative;
}
.x-tab-title.active::after{
	display: block;
	content: '';
	height: 6px;
	background-color: #555;
	position: absolute;
	width: 100%;
	bottom: -6px;
	left: 0;
}


.x-foo {
	background-color: #fff;
	color: #000;
	border: 3px solid #000;
	padding: 10px 30px;
	display: inline-block;
	cursor: pointer;
}


.x-checkbox {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	box-shadow: 1px 1px 1px rgba(0,0,0,.1);
	position: relative;
	margin: 10px 10px 10px 30px;
}
.x-checkbox[data-disabled=true] {
	cursor: default;
}
.checkbox-simple {
	width: 25px;
	height: 25px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #ddd;
	background: -webkit-linear-gradient(#eee, #bbb);
	background: -o-linear-gradient(#eee, #bbb);
	background: -moz-linear-gradient(#eee, #bbb);
	background: linear-gradient(#eee, #bbb);
}
.checkbox-simple:hover {
	border: 1px solid #0094FF;
}
.checkbox-simple[data-checked=true]::before {
	content: 'L';
	font-family: arial;
	font-weight: bold;
	font-size: 25px;
	color: #000;
	position: absolute;
	top: -5px;
	left: 5px;
	-moz-transform: scaleX(-1) rotate(-45deg);
    -webkit-transform: scaleX(-1) rotate(-45deg);
    -o-transform: scaleX(-1) rotate(-45deg);
	transform: scaleX(-1) rotate(-45deg);
}
.checkbox-simple[data-checked=true][data-disabled=true]::before {
	color: #555;
}
.checkbox-simple[data-disabled=true] {
	border: 1px solid #666;
	background-color: #888;
	background: -webkit-linear-gradient(#888, #bbb);
	background: -o-linear-gradient(#eee, #bbb);
	background: -moz-linear-gradient(#eee, #bbb);
	background: linear-gradient(#888, #666);
}
.checkbox-square {
	width: 30px;
	height: 30px;
	background-color: #ddd;
	background: -webkit-linear-gradient(#eee, #bbb);
	background: -o-linear-gradient(#eee, #bbb);
	background: -moz-linear-gradient(#eee, #bbb);
	background: linear-gradient(#eee, #bbb);
}
.checkbox-square::before {
	display: block;
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
	left: 5px;
	background-color: #333;
	background: -webkit-linear-gradient(#222, #444);
	background: -o-linear-gradient(#222, #444);
	background: -moz-linear-gradient(#222, #444);
	background: linear-gradient(#222, #444);
}
.checkbox-square::after {
	display: block;
	content: '';
	width: 16px;
	height: 16px;
	position: absolute;
	top: 7px;
	left: 7px;
	background-color: #00FF21;
	background: -webkit-linear-gradient(#B6FF00, #007821);
	background: -o-linear-gradient(#B6FF00, #007821);
	background: -moz-linear-gradient(#B6FF00, #007821);
	background: linear-gradient(#B6FF00, #007821);
	opacity: 0;
}
.checkbox-square:hover::after {
	opacity: 0.4;
}
.checkbox-square[data-disabled=true]:hover::after {
	opacity: 0;
}
.checkbox-square[data-checked=true]::after {
	opacity: 1;
}
.checkbox-square[data-disabled=true] {
	background-color: #666;
	background: -webkit-linear-gradient(#444, #666);
	background: -o-linear-gradient(#444, #666);
	background: -moz-linear-gradient(#444, #666);
	background: linear-gradient(#444, #666);
}
.checkbox-square[data-disabled=true][data-checked=true]::after {
	opacity: 0.4;
}
.checkbox-switch {
	width: 70px;
	height: 30px;
	background-color: gray;
	background: -webkit-linear-gradient(135deg, #333, #222);
	background: -o-linear-gradient(135deg, #333, #222);
	background: -moz-linear-gradient(135deg, #333, #222);
	background: linear-gradient(135deg, #333, #222);
	border-radius: 15px;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.9);
}
.checkbox-switch::before {
	display: block;
	content: '';
	width: 44px;
	height: 3px;
	background-color: rgba(0,0,0,.9);
	position: absolute;
	top: 14px;
	left: 13px;
	border-radius: 2px;
	box-shadow: 1px 1px 0 rgba(255,255,255,.3);
}
.checkbox-switch::after {
	display: block;
	content: '';
	width: 22px;
	height: 22px;
	border: 2px solid #eee;
	border-radius: 11px;
	box-sizing: border-box;
	box-shadow: 1px 1px 0 rgba(0,0,0,.8);
	background-color: #B60000;
	background: -webkit-linear-gradient(135deg, #B60000, #690000);
	background: -o-linear-gradient(135deg, #B60000, #690000);
	background: -moz-linear-gradient(135deg, #B60000, #690000);
	background: linear-gradient(135deg, #B60000, #690000);
	position: absolute;
	left: 5px;
	top: 5px;
	transition: all 250ms ease-in-out;
}
.checkbox-switch[data-checked=true]::after {
	left: 43px;
	background-color: #00FF21;
	background: -webkit-linear-gradient(135deg, #B6FF00, #007821);
	background: -o-linear-gradient(135deg, #B6FF00, #007821);
	background: -moz-linear-gradient(135deg, #B6FF00, #007821);
	background: linear-gradient(135deg, #B6FF00, #007821);
}
.checkbox-switch[data-disabled=true]::after {
	border: 2px solid #444;
	background-color: #3a0000;
	background: linear-gradient(135deg, #3a0000, #230000);
}
.checkbox-switch[data-disabled=true][data-checked=true]::after {
	background-color: #003321;
	background: linear-gradient(135deg, #003321, #001C21);
}

.x-combobox {
	display: inline-block;
	cursor: pointer;
	position: relative;
	width: 350px;
	height: 50px;
}
.x-combobox::before {
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	border-top: 3px solid #333;
	border-right: 3px solid #333;
	position: absolute;
	right: 30px;
	top: 15px;
	transform: rotate(135deg);
	transform-origin: 50% 50%;
	z-index: 10;
	transition: all 250ms ease-in-out;
}
.x-combobox.opened::before {
	transform: rotate(315deg);
	top: 20px;
}
.x-combobox .x-option {
	background-color: #eee;
	background: -webkit-linear-gradient(#eee, #bbb);
	background: -o-linear-gradient(#eee, #bbb);
	background: -moz-linear-gradient(#eee, #bbb);
	background: linear-gradient(#eee, #bbb);
	color: #333;
	padding: 13px 20px;
	position: absolute;
	width: 300px;
	left: 0;
	top: 0;
}
.x-combobox.long-answers, .x-combobox.long-answers .x-option {
	width: 230px;
}
.x-combobox.long-answers::before {
	right: -40px;
}
.x-combobox.long-answers .x-option {
	font-size: 15px;
	padding: 7px 40px 7px 20px;
}
.x-combobox .x-option[selected=true] {
	background-color: #0094FF;
	background: -webkit-linear-gradient(#eee, #bbb);
	background: -o-linear-gradient(#eee, #bbb);
	background: -moz-linear-gradient(#eee, #bbb);
	background: linear-gradient(#0094FF, #004A7F);
	color: #fff;
}
.x-combobox .x-option:first-child {
	display: block;
}
.x-combobox .x-option:hover:not(:first-child) {
	color: #fff;
	background: linear-gradient(#B6FF00, #007821);
}
.x-combobox .x-option:nth-child(1) {
	z-index: 6;
}
.x-combobox .x-option:nth-child(2) {
	z-index: 5;
	transition: top 250ms ease-in-out 1ms;
}
.x-combobox .x-option:nth-child(3) {
	z-index: 4;
	transition: top 250ms ease-in-out 100ms;
}
.x-combobox .x-option:nth-child(4) {
	z-index: 3;
	transition: top 250ms ease-in-out 200ms;
}
.x-combobox .x-option:nth-child(5) {
	z-index: 2;
	transition: top 250ms ease-in-out 300ms;
}
.x-combobox .x-option:nth-child(6) {
	z-index: 1;
	transition: top 250ms ease-in-out 400ms;
}
.x-combobox.opened .x-option:nth-child(2) {
	top: 50px;
	transition: top 250ms ease-in-out 400ms;
}
.x-combobox.opened .x-option:nth-child(3) {
	top: 100px;
	transition: top 250ms ease-in-out 300ms;
}
.x-combobox.opened .x-option:nth-child(4) {
	top: 150px;
	transition: top 250ms ease-in-out 200ms;
}
.x-combobox.opened .x-option:nth-child(5) {
	top: 200px;
	transition: top 250ms ease-in-out 100ms;
}
.x-combobox.opened .x-option:nth-child(6) {
	top: 250px;
	transition: top 250ms ease-in-out 1ms;
}

.x-lazyloading {
	width: 200px;
	height: 200px;
	border: 5px solid #444;
	background-color: #666;
	display: inline-block;
	margin: 0 10px 10px 0;
	padding: 20px;
	color: #222;
	vertical-align: middle;
}
.x-lazyloading.loaded {
	border: 5px solid #00FF21;
	background-color: #C9FFB2;
	transition: background-color 5000ms ease-in-out;
}

@-webkit-keyframes lazy-loader {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-moz-keyframes lazy-loader {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-o-keyframes lazy-loader {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes lazy-loader {
	0% {
		-moz-transform: rotate(0deg); 
		-webkit-transform: rotate(0deg); 
		-o-transform: rotate(0deg); 
		transform: rotate(0deg); 
	}
	100% {
		-moz-transform: rotate(360deg); 
		-webkit-transform: rotate(360deg); 
		-o-transform: rotate(360deg); 
		transform: rotate(360deg);
	}
}

.x-image {
	width: 250px;
	height: 250px;
	border: none;
	padding: 0;
	position: relative;
}
.x-image::before {
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ddd;
	background: -webkit-linear-gradient(135deg, #eee, #bbb);
	background: -o-linear-gradient(135deg, #eee, #bbb);
	background: -moz-linear-gradient(135deg, #eee, #bbb);
	background: linear-gradient(135deg, #eee, #bbb);
	opacity: 1;
	transition: opacity 2000ms ease-in-out;
}
.x-image::after{
	display: block;
	content: '';
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #333;
	position: absolute;
	left: 115px;
	top: 70px;
	transform: rotate(0deg);
	-ms-transform-origin: 10px 60px;
	-webkit-transform-origin: 10px 60px;
	-moz-transform-origin: 10px 60px;
	transform-origin: 10px 60px;
	animation-name: lazy-loader;
	animation-duration: 1500ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear; 
	opacity: 1;
	transition: opacity 250ms ease-in-out;
}
.x-image.loaded {
	border: none;
	transition: none;
}
.x-image.loaded::before, .x-image.loaded::after{
	opacity: 0;
}

.x-player {
	width: 350px;
	height: 195px;
	display: inline-block;
	background-color: #333;
	margin: 0 20px 20px 0;
	position: relative;
}
.x-player video {
	width: 100%;
	height: 100%;
}
.x-player .title {
	position: absolute;
	width: 100%;
	top: 10px;
	left: 10px;
	z-index: 2;
	color: #eee;
}
.x-player .play {
	width: 100px;
	height: 100px;
	border: 5px solid #FFF;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	position: absolute;
	left: 125px;
	bottom: 45px;
	cursor: pointer;
	transition: all 250ms ease-in-out;
	z-index: 2;
}
.x-player[data-playing=true] .play {
	width: 20px;
	height: 20px;
	left: 10px;
	bottom: 20px;
	border-radius: 0;
}
.x-player .progressBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background-color: #aaa;
	cursor: pointer;
	z-index: 2;
}
.x-player .progressCurrBar {
	display: block;
	content: '';
	width: 0%;
	height: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #007ACC;
	cursor: pointer;
	z-index: 2;
}
.x-player[data-playing=true] div {
	opacity: 0;
	transition: all 250ms ease-in-out;
}
.x-player[data-playing=true]:hover div {
	opacity: 1;
}

.x-player-advanced {
	width: 700px;
	height: 390px;
	overflow: hidden;
}
.x-player-advanced .play {
	left: 300px;
	bottom: 145px;
}
.x-player-advanced .cover {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
.x-player-advanced .tabs {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateX(100%) translateY(-50%);
	background-color: #006EBC;
	cursor: pointer;
	width: 220px;
	transition: all 250ms ease-in-out;
	z-index: 2;
}
.x-player-advanced .tabs::before {
	display: block;
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: #006EBC;
	left: -15px;
	top: calc(50% - 15px);
	border-radius: 50%;
}
.x-player-advanced .tabs::after {
	display: block;
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	border-top: 4px solid #ddd;
	border-left: 4px solid #ddd;
	left: -4px;
	top: calc(50% - 7px);
	transform: rotate(-45deg);
}
.x-player-advanced .tabs:hover {
	right: 0;
	transform: translateX(0%) translateY(-50%);	
}
.x-player-advanced .tabs div {
	font-size: 15px;
	font-weight: 900;
	margin: 15px;
	padding-bottom: 15px;
	color: #ddd;
	border-bottom: 1px solid #ddd;
}
.x-player-advanced .tabs div:last-child {
	padding: 0;
	border-bottom: none;
}
.x-player-advanced .tabs div:hover {
	color: #FFC900;
}
.x-player-advanced .covers {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 3;
	display: none;
}
.x-player-advanced .covers div {
	position: absolute;
	width: 50%;
	height: 50%;
	padding: 10px;
	left: 0;
	top: 0;
	cursor: pointer;
	color: #eee;
}
.x-player-advanced .covers div:nth-child(2) {
	left: 50%;
}
.x-player-advanced .covers div:nth-child(3) {
	top: 50%;
}
.x-player-advanced .covers div:nth-child(4) {
	left: 50%;
	top: 50%;
}
.x-player-advanced .subtitles {
	display: block;
	position: absolute;
	right: 60px;
	left: 60px;
	bottom: 20px;
	text-align: center;
	z-index: 4;
	color: #fff;
	font-weight: 900;
	font-size: 25px;
	text-shadow: 2px 2px 1px #000;
}
.x-player-advanced .subtitles[data-banner=true] {
	height: 150px;
}
.x-player-advanced .subtitles[data-banner=true]::before {
	display: block;
	content: 'CLOSE X';
	position: absolute;
	top: 0;
	right: 0;
	background-color: #F2D100;
	color: #000;
	text-shadow: none;
	font-size: 15px;
	padding: 3px 10px;
	transform: translateY(-100%);
}

.hex-img {
	width: 350px;
	margin-right: 10px;
	vertical-align: middle;
}

.x-hex-mosaic {
	display: inline-block;
	width: 400px;
	vertical-align: middle;
}
#mosaic-1 {
	background-color: #000;
	margin-bottom: 30px;
	margin-right: 5px;
}
#mosaic-2 {
	background-color: white;
}
.x-hex-mosaic .x-hex-img {
	opacity: 1;
	cursor: pointer;
}
.x-hex-mosaic .x-hex-img:hover {
	opacity: 0.5;
}

.x-slider {
	display: block;
	width: 800px;
	height: 400px;
	background-color: gray;
}
.x-slider .prev, .x-slider .next {
	width: 50%;
	height: 100%;
	top: 0;
	position: absolute;
	cursor: pointer;
	z-index: 3;
}
.x-slider .prev {
	left: 0;
}
.x-slider .next {
	right: 0;
}

.x-img-posterized {
	display: block;
	width: 100%;
	height: 500px;
	cursor: pointer;
}
