.wave-slider {
	display: block;
	width: 980px;
	height: 600px;
	background-color: gray;
}
.wave-slider .prev, .wave-slider .next {
	width: 50%;
	height: 100%;
	top: 0;
	position: absolute;
	cursor: pointer;
	z-index: 3;
}
.wave-slider .prev {
	left: 0;
}
.wave-slider .next {
	right: 0;
}
